* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    background-color: rgb(42, 44, 53);
    color: rgb(99, 218, 252);
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.block {
    flex: 0 1 500px;
    border: 3px solid rgb(99, 218, 252);
    margin: 0 auto 5em;
    border-radius: 1rem;
    padding: 2rem;
}


.screen {
    border: 3px solid rgb(99, 218, 252);
    border-radius: 1rem;
    padding: 4rem 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.control {
    padding: 2rem;
    border-radius: 1rem;
    border: 3px solid rgb(99, 218, 252);
}